.loginScreen {
  position: relative;
  height: 100%;
  background: url('../../assets/Netflix-login-background.png') center no-repeat;
  background-size: cover;
}

.loginScreen__body {
  position: absolute;
  top: 30%;
  z-index: 1;
  color: #fff;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}

.loginScreen__body > h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}

.loginScreen__body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.loginScreen__body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.loginScreen__gradient {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.loginScreen__logo {
  position: fixed;
  left: 0;
  top: 20px;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.loginScreen__input {
  margin: 20px;
}

.loginScreen__input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}

.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  background-color: #e50914;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 600px) {
  .loginScreen__body {
    top: 20%;
  }
  .loginScreen__body > h1 {
    font-size: 2.2rem;
  }
  
  .loginScreen__body > h2 {
    font-size: 1.5rem;
  }
  
  .loginScreen__body > h3 {
    font-size: 1rem;
  }

  .loginScreen__logo {
    width: 130px;
  }

.loginScreen__input > form > input {
  padding: 8px;
  outline-width: 0;
  height: 27px;
  width: 50%;
}
  
  .loginScreen__getStarted {
    padding: 14px 18px;
    font-size: 0.8rem;
    font-weight: 600;
  }
}
